#flexed {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#template{
    margin-left: 300px;
    padding: 20px;
    border: 2px solid black;
}

#nav{
    display: flex;
    justify-content: space-around;
}

#nav a{
    background-color: lightblue;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 5%;
}

#nav a:hover{
    font-weight: bold;
    background-color: rgb(117, 217, 250);
}
#nav a:active{
    font-weight: bold;
    background-color: rgb(117, 217, 250);
}
#nav a:focus{
    font-weight: bold;
    background-color: rgb(117, 217, 250);
}

button{
    border-radius: 10%;
    padding: 5px;
    background-color: rgb(142, 245, 142);
}
button:hover{
    font-weight: bold;
    background-color: rgb(81, 243, 81);
}